*{
    margin: 0;
    padding: 0;

}
.App{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.progress-div{
    background-color: whitesmoke;
    height: 110px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 5px #d4d2d2;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
  .progress-div {
    background-color: lightblue;
    display: none;
  }
}
.color-code{
  color: orange;
}

.color-code1{
  color:blue;
}

.center{
  text-align: center;
}
   .step-row{   
    display: flex;
    align-items: center;
    /* box-shadow: 1 -1px 5px -1px rgb(0, 0, 0); */
    position: relative;
    background-color: whitesmoke;    
    }
    .step-col{
      width: 307px;
      height: 50px;
      background: linear-gradient(to right , #DFA3FF,#3c06a1);
      border: solid 1px rgb(50, 49, 49);
      margin: 10px;
      padding: 10px;
      text-align: center;
    }

    .task-form{
      background-color: white;
      padding: 20px;  
      box-shadow: 0px 0px 10px 5px whitesmoke;   
    }

    .task-app{
      padding: 20px;
      background-color: white;
    }

    .tasks-btn{
     margin-top: 20px;
     margin-right: 20px;
    }

    .table{
      border: solid 1px rgb(50, 49, 49);
    }

    .list-div{
      /* border: solid 1px rgb(50, 49, 49); */
      height: 600px;    
      box-shadow: 0px 0px 10px 5px whitesmoke;
    }

    .info-div{
      border: solid 1px rgb(165, 159, 159);
      margin-bottom: 30px;
    }

    .main-div{
      padding: 10px;
    }